body{
    padding: 0px;
    margin: 0px;
    color: #222;
    font-family: "Noto Sans HK";
    position: relative;
    background-color: rgba(255, 181, 97, 0.3);
}

/* color values of checkyourself image 
#DD4839 or rgb(221, 72, 57)
#EEB584 or rgb(238, 181, 132)*/
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0px;
    z-index: 99;
    font-size: 1rem;
    background-color: rgba(255, 181, 97, 0.3);
}

nav ul{
    padding: 10px 0px;
    margin: 0px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    color: #C23C42;
}

nav ul li a{
    text-decoration: none;
    display: block;
    color: #C23C42;
    text-transform: lowercase;
    font-size: 16px;
}

nav ul:first-of-type li a {
    color: #C23C42;
    font-weight: bold;
}

nav ul li .user-email {
    text-decoration: none;
    display: block;
    color: #C23C42;
    text-transform: lowercase;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5%;
}

img {
  width: 100%;
}

main {
   
    width: 95%;
    margin: 100px auto;
    padding-bottom: 100px;
}

form {
    width: 50%;
    margin: 0 auto;
}

form * {
    display: block;
}

form a, form textarea{
    background: rgba(255, 181, 97, 0);
    width: 100%;
    font-family: "Noto Sans HK";
    border: none;
    border-bottom: 1px solid #666;
    padding: 10px 0px;
    margin: 10px 0px;
}

form input, form textarea{
    background: rgba(255, 181, 97, 0);
    width: 100%;
    font-family: "Noto Sans HK";
    border: none;
    border-bottom: 1px solid #666;
    padding: 10px 0px;
    margin: 10px 0px;
}

.error {
    color: rgb(255, 74, 74);
    font-style: italic;
}

.single {
    width: 50%;
    margin: 0 auto;
}
.single .title {
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}

.wrapper .btn-predict{
  position: center;
  padding: 12px 26px;
  background: #E0584B;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  border-radius: 10%;
}

.wrapper .btn-predict:hover{
  background: #DD4839;
  color: #F5F5F5;
}

.wrapper{
  text-align: center;
}

.texts{
  position: center;
  color: #DD4839;
}

.paybutton{
    position: center;
    color: #DD4839;
    margin-top: 15px;
    margin-bottom: 15px;
}

.upload-label{
  border: none;
  width: 10%;
  min-width: 150px;
  background-color: #E0584B;
  color: #ffffff !important;
  font-weight: 100;
  font-size: 1.1rem;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.1s ease 0s;
  cursor: pointer;
}

.upload-label:hover{
  color: none;
  font-weight: 400 !important;
  letter-spacing: 1px;
  background-color: #DD4839 !important;
  transition: all 0.1s ease 0s;
}
