{% extends "layout.html" %}

{% block content %}

    <form method="POST" action="/profile">

        <h2>Edit your profile information.</h2>
        
        <!-- email should be handled with a noreply email -->
        <!-- <div class="form-control">
            <label for="email">Email: {{ user_infos["email"] }}</label>
            <input type="email" name="email" placeholder="Email">
        </div> -->
        <div class="form-control">
            <label for="text">Firstame: {{ user_infos["firstname"] }}</label>
            <input type="text" name="firstname" placeholder="Firstname">
        </div>
        <div class="form-control">
            <label for="text">Lastname: {{ user_infos["lastname"] }}</label>
            <input type="text" name="lastname" placeholder="Lastname">
        </div>
        <div class="form-control">
            <label for="text">Username: {{ user_infos["username"] }}</label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <input type="submit" class="upload-label" value="Save Changes">
    </form>


{% endblock %}
